{
   "inbounds": [
      {
         "port": 1000,
         "listen": "localhost",
         "protocol": "vmess",
         "settings": {
            "clients": [
               {
                  "id": "cbe0421d-6436-46e7-a660-aafd7748cd8a"
               }
            ]
         },
         "streamSettings": {
            "network": "ws",
            "wsSettings": {
               "path": "/cbe0421d-6436-46e7-a660-aafd7748cd8a-vmess"
            }
         }
      },
      {
         "port": 2000,
         "listen": "127.0.0.1",
         "protocol": "vless",
         "settings": {
            "clients": [
               {
                  "id": "cbe0421d-6436-46e7-a660-aafd7748cd8a"
               }
            ],
            "decryption": "none"
         },
         "streamSettings": {
            "network": "ws",
            "wsSettings": {
               "path": "/cbe0421d-6436-46e7-a660-aafd7748cd8a-vless"
            }
         }
      },
      {
         "port": 3000,
         "listen": "127.0.0.1",
         "protocol": "trojan",
         "settings": {
            "clients": [
               {
                  "password": "cbe0421d-6436-46e7-a660-aafd7748cd8a"
               }
            ]
         },
         "streamSettings": {
            "network": "ws",
            "wsSettings": {
               "path": "/cbe0421d-6436-46e7-a660-aafd7748cd8a-trojan"
            }
         }
      },
      {
         "port": 4000,
         "listen": "127.0.0.1",
         "tag": "onetag",
         "protocol": "dokodemo-door",
         "settings": {
            "address": "v1.mux.cool",
            "network": "tcp",
            "followRedirect": false
         },
         "streamSettings": {
            "security": "none",
            "network": "ws",
            "wsSettings": {
               "path": "/cbe0421d-6436-46e7-a660-aafd7748cd8a-ss"
            }
         }
      },
      {
         "port": 5000,
         "listen": "127.0.0.1",
         "protocol": "socks",
         "settings": {
            "auth": "password",
            "accounts": [
               {
                  "user": "cbe0421d-6436-46e7-a660-aafd7748cd8a",
                  "pass": "cbe0421d-6436-46e7-a660-aafd7748cd8a"
               }
            ]
         },
         "streamSettings": {
            "network": "ws",
            "wsSettings": {
               "path": "/cbe0421d-6436-46e7-a660-aafd7748cd8a-socks"
            }
         }
      }
   ],
   "outbounds": [
      {
         "protocol": "freedom"
      }
   ]
}
